* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container{
    padding: 3em;
}

.search{
    color: aquamarine;
    background-color:lightgray;
    width: 120px;
    min-height: 25px;
    border: 2px solid aquamarine;
    border-radius: 20px;
    margin-bottom: 10px;
}

.plus{
    color: white;
    background-color: aquamarine;
    width: 35px;
    min-height: 35px;
    border: none;
    border-radius: 50%;
    margin-bottom: 10px;
    font-size: 25px;
}

.account{
    color: white;
    background-color:dodgerblue;
    width: 150px;
    min-height: 35px;
    border: 2px solid black;
    box-shadow: 3px 3px black;
}